<h4>New Project</h4>

<div class="row">
  <div class="col-sm-8">
    <p>
      Please enter a npm package name.<br>
      For example <code>coffee-script</code>, which corresponds to <a href="https://www.npmjs.com/package/coffee-script">https://www.npmjs.com/package/coffee-script</a>.</p>
  </div>
  <div class="col-sm-4">
    <a href="https://www.npmjs.com/"><%= image_tag 'npm.png', width: '210' %></a>
  </div>
</div>
<%= simple_form_for @project do |f| %>
  <%= f.input :name, placeholder: 'coffee-script' %>
  <%= f.button :submit %>
<% end %>
