<h4>New Project</h4>

<div class="row">
  <div class="col-sm-8">
    <p>
      Please enter a npm module name.<br>
      For example <code>coffee-script</code>, which corresponds to <a href="https://www.npmjs.com/package/coffee-script">https://www.npmjs.com/package/coffee-script</a>.</p>
  </div>
  <div class="col-sm-4">
    <%= image_tag 'npm.png', width: '210' %>
  </div>
</div>
<%= simple_form_for @project, url: projects_path(source: :npm) do |f| %>
  <%= f.input :name, label: 'Module', placeholder: 'coffee-script' %>
  <%= f.button :submit %>
<% end %>
