@import "tether";
@import "bootstrap";
@import "narrow-jumbotron";
@import "font-awesome";

a.logo {
  color: #818a91 !important;
  &:hover {
    text-decoration: none;
  }
  img {
    margin-top: -14px;
  }
}

.alert-global {
  margin-bottom: 2rem;
}

tr.doing {
  td, th {
    color: #CCC;
  }
}
